$selected-border-blue: rgb(111, 199, 228);
.radioContainer {
    display: inline-block;
    padding: 1em;
    margin: 1.5em auto;
    border: 1px solid transparent;
    border-radius: 1em;
}
.radioLabel {
    text-align: center;
    display: block;
    margin-bottom: 0.5em;
}
.radioButton {
    text-decoration: none;
    color: black;
    text-align: center;
    width: 8em;
    padding: 1em;
    background-color: rgb(184, 218, 229);
    border: solid transparent 1px;
    border-radius: 0.25em;
    &:hover {
        cursor: pointer;
        border: 1px solid $selected-border-blue;
    }
    + * {
        margin-left: 3em;
    }
}

.selected {
    background-color: $selected-border-blue;
}